<div class="loginAct">
    <img [src]="gif" />
</div>
<!--<div class="transformLang">-->
    <!--<nz-select [(ngModel)]="lang" (ngModelChange)="langTransform($event)">-->
        <!--<nz-option nzValue="zn-CH" nzLabel="中文"></nz-option>-->
        <!--<nz-option nzValue="en-US" nzLabel="英文"></nz-option>-->
    <!--</nz-select>-->
<!--</div>-->
<div class="login_container">
    <div class="tips_box" #tips>
        <div class="tips">
            <div class="img"><img src="../../../../assets/images/err.png"></div>
            <div>{{err}}</div>
        </div>
    </div>
    <div class="login_box">
        <div class="headerBg"><img [src]="logoFullImage" class="imgBg"></div>
        <div class="content">
            <div class="contentBg">
            </div>
            <form nz-form [formGroup]="form" (ngSubmit)="beforeSubmit()" role="form" style="margin: 20px;">
                <!--<nz-tabset [nzAnimated]="false" class="tabs" (nzSelectChange)="switch($event)">-->

                <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="false" style="margin-bottom: 0px"></nz-alert>
                <nz-form-item style="margin-bottom: 16px">
                    <nz-form-control>
                        <span class="icon icon-user"></span>
                        <nz-input-group>
                            <input nz-input formControlName="userName" minlength="5" placeholder="用户名" class="input">
                        </nz-input-group>
                        <nz-form-explain *ngIf="userName.dirty && userName.errors">请输入账户名且至少五个字符！</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item style="margin-bottom: 16px">
                    <nz-form-control>
                        <span class="icon icon-password"></span>
                        <nz-input-group>
                            <input nz-input type="password" formControlName="password" placeholder="密码" class="input">
                        </nz-input-group>
                        <nz-form-explain *ngIf="password.dirty && password.errors">
                            请输入密码！
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item style="margin-bottom: 16px">
                    <nz-form-control>
                        <span class="icon icon-password"></span>
                        <nz-input-group style="width: 60%">
                            <input nz-input type="text" formControlName="captcha" placeholder="请输入验证码" class="input">
                        </nz-input-group>
                        <a href="javascript:void(0);" (click)="getCaptchaImage()" style="height: 36px;width: 100px;float: right;">
                            <img src="{{src}}">
                        </a>
                        <nz-form-explain *ngIf="password.dirty && password.errors">
                            请输入验证码！
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <button nz-button type="submit" style="background: #ffffff;color: #49a9ee;border-radius: 0;border: 0px;" [nzLoading]="loading" nzBlock>{{loginText}}</button>
                </nz-form-item>
                <!--<div>-->
                <!--<label class="remember">-->
                <!--<input type="checkbox" name="remember"> 记住我-->
                <!--</label>-->

                <!--</div>-->

            </form>
        </div>
        <!--<div class="other">-->
        <!--其他登录方式-->
        <!--<i title="in fact Auth0 via window" (click)="open('auth0', 'window')" class="anticon anticon-alipay-circle icon"></i>-->
        <!--<i title="in fact Github via redirect" (click)="open('taobao')" class="anticon anticon-taobao-circle icon"></i>-->
        <!--<i title="真的是微博" (click)="open('weibo', 'window')" class="anticon anticon-weibo-circle icon"></i>-->
        <!--<a class="register" routerLink="/passport/register">注册账户</a>-->
        <!--</div>-->
    </div>
</div>
