.imgBox{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.imgBox img{
    width: 100%;
    height: 100%;
}
.up{
    padding-right: 5px;
}
.search{
    margin-bottom: 16px;
}
.keep{
    padding-bottom: 16px;
    display: flex;
    justify-content: flex-end;
}
.back{
    padding-bottom: 16px;
}



:host ::ng-deep .red > sf-item-wrap > .ant-form-item>.ant-form-item-label>label{
    color:red;
}
:host ::ng-deep .yellow > sf-item-wrap > .ant-form-item>.ant-form-item-label>label{
    color:yellow;
}
:host ::ng-deep .blue > sf-item-wrap > .ant-form-item>.ant-form-item-label>label{
    color:blue;
}

:host ::ng-deep  .ant-table table{
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-radius: 4px 4px 0 0;
    border-collapse: separate;
    border-spacing: 0;
}
.edit_box{
    background: #FFFFFF;
    width: 800px;
    z-index: 999999999999;
    border-radius: 6px;
}
.edit_box .box_header{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit_box  .closer{
    cursor: pointer;
}
.edit_box .modal-content{
    padding: 20px 40px;
    max-height: 600px;
    overflow-y: scroll;
}
.modal-footer{
    margin: 0;
    padding: 20px 24px;
}
.modal-footer .keep{
    background: #1890ff;
    color: #FFFFFF;
}
.closeBtn{
    border: 1px solid #1890ff;color: #1890ff
}
